projects/centra-id-ei-core/centra-id-resources-master/src/com/centraid/resources/xsd/bussinesProcessCreateUserInternSchema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="jsonObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:long" name="guid"/>
        <xs:element type="xs:string" name="processkey"/>
        <xs:element type="xs:string" name="identityType"/>
        <xs:element type="xs:int" name="identity"/>
        <xs:element type="xs:string" name="firstSurname"/>
        <xs:element type="xs:string" name="secondSurname"/>
        <xs:element type="xs:string" name="firstName"/>
        <xs:element type="xs:string" name="middleName"/>
        <xs:element type="xs:long" name="cellphoneNumber"/>
        <xs:element type="xs:string" name="personalEmail"/>
        <xs:element type="xs:string" name="company"/>
        <xs:element type="xs:string" name="division"/>
        <xs:element type="xs:string" name="area"/>
        <xs:element type="xs:string" name="department"/>
        <xs:element type="xs:string" name="position"/>
        <xs:element type="xs:string" name="costCenter"/>
        <xs:element type="xs:int" name="supervisionLine"/>
        <xs:element type="xs:string" name="admissionDate"/>
        <xs:element type="xs:string" name="userTypeCode"/>
        <xs:element type="xs:string" name="userSubtypeCode"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>


